body {
    text-align: center;
    background-color: #f6f0f1;
}
.cabecera {
    font-size: 30px;
    background-color: #5f1854;
    color: white;
}
.titulo-principal {
    text-align: center;
    font-family: Arial;
    background-color: #f6f0f1;
    color: #ca431d;
    font-size: 60px;
    font-style: bolder;
    text-shadow: 0px 0px 3px #000;
}

a:link{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	color: black;
}
a:visited{
	text-decoration: none;
	color: black;
}
a:active{
	text-decoration: none;
	color: black;
}
a{
	text-decoration: none;
	color: black;
}
h3 {
	text-align: left;
	margin-left: 100px;
    font-family: Arial;
}
.post-body img {
    padding: 0;
    border: 0;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}
.post-body:hover {
    box-shadow: 0px 0px 10px #000;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    cursor: pointer;
}
.imagen-texto {
    width: 290px;
    height: 190px;
}
.text-tarjeta {
    background-color: #eae7e7;
}
.tarjeta{
	margin-top: 20px;
	margin-bottom: 20px;
}
#footer{
    line-height: 1;
    text-align: left;
    font-size: 16px;
    color: white;
    background-color: rgb(74, 14, 92);

}

#page {
    width: 500px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 10px #FFFFFF solid;
    text-align: center;
}
 
    
.columna-izquierda{
    text-align:left;
    margin-right:5px;
    padding-right:4px;
    border-right:1px solid #000;
    float:left;
    width:245px;
    }
 
.cuadro-info{
    width:90%;
    margin-left:5%;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:20px;
    border-style: dashed;
    border-width: 1px;
    border-color:#900;
    background-color:#FFC
    }

.lenguajes{
margin-right: 100px;
margin-left: 100px;
margin-bottom: 10px;
}